<!---------   New Profile         ------------->
<!DOCTYPE html>
<html>
<head>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand:100,300,500">
  <link rel="stylesheet" href="/public/editstyle.css">
  <title>Edit Page</title>
</head>

<body>
  <div class="full-screen-container">
    <div class="navbardiv">
      <div class="navbar-links">
        <a href="/articles/index">Vlogs</a>
      </div>
      <div class="navbar-links"  >
        <a href="/user/profile">User-Profile</a>
      </div>
      <div class="navbar-links">
        <a href="/user/logout">logout</a>
      </div>
      
    </div>

    <div class="login-container">
    <h3 class="login-title">
       User-Profile
    </h3>
    <hr style="margin-bottom: 10px; color : black; border: 0.5px solid black; ">
         <div class="input-container">
             <div class="input-group">
              <img src="/images/MaleThumbnail.png">
              </div>
              <div class="input-group">
              <a href="/user/profile" style="text-decoration: none; color : red;
              font-weight: bolder; font-size: 1.5em;">Cancel</a>
              </div>
         </div>
         <form action="/user/userprofile/updateprofile?_method=PUT" method="post">
          <div class="input-container">
        <div class="input-group">
          <label>NAME : </label>
          <hr style="width:100%; color: black; border : 0.5px solid black; width : 70%; ">
          <div>  <input required value="<%= user.name %>" type="text" name="name" id="name" class="form-control"></div>
        </div>
        <div class="input-group">
          <label>EMAIL : </label>
          <hr style="width:100%; color: black; border : 0.5px solid black; width : 70%;">
          <div><%= user.email %></div>
        </div>
    </div>

    <div class="input-container">
        <div class="input-group">
          <label>AGE : </label>
          <hr style="width:100%; color: black; border : 0.5px solid black; width : 70%;">
        <input required value="<%= user.age %>" type="text" name="name" id="name" class="form-control">
        </div>
        <div class="input-group">
          <label>GitHub-Link : </label>
          <hr style="width:100%; color: black; border : 0.5px solid black; width : 70%;">
          <input required value="<%= user.githublink %>" type="text" name="name" id="name" class="form-control">
        </div>
    </div>

    <div class="input-container">
        <div class="input-group">
          <label> Profession : </label>
          <hr style="width:100%; color: black; border : 0.5px solid black; width : 70%;">
          <input required value="<%= user.profession %>" type="text" name="name" id="name" class="form-control">
        </div>
        <div class="input-group">
          <label>Education : </label>
          <hr style="width:100%; color: black; border : 0.5px solid black; width : 70%;">
          <input required value="<%= user.education %>" type="text" name="name" id="name" class="form-control">
        </div>
    </div>
    <div class="input-container">
      <div class="input-group">
        <label> Achievements : </label>
        <hr style="width:100%; color: black; border : 0.5px solid black; width : 70%;">
        <input required value="<%= user.achievements %>" type="text" name="name" id="name" class="form-control">
      </div>
      <div class="input-group">
        <label>linkedIn : </label>
        <hr style="width:100%; color: black; border : 0.5px solid black; width : 70%;">
        <input required value="<%= user.linkedIn %>" type="text" name="name" id="name" class="form-control">
      </div>
  </div>
   <div >
  <button type="submit" class="login-button"  >Save</button>
   </div>

  </div>
</form>
  </div>
</body>

</html>

